PORT=8001

DATABASE_URL=postgresql://usuario:password@host:5432/basededatos?sslmode=require

# Cola=kajve_datos, exchange=amq.topic, routing_key=kajve.# (fijos en el código)
MQTT_HOST=0.0.0.0
MQTT_PORT=
MQTT_USER=
MQTT_PASS=

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
